In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import statistics

In [30]:
hdb_df = pd.read_csv('data/hdb_df_min_dist.csv', low_memory=False)

In [31]:
hdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919408 entries, 0 to 919407
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   month                         919408 non-null  object
 1   town                          919408 non-null  object
 2   flat_type                     919408 non-null  object
 3   block                         919408 non-null  object
 4   street_name                   919408 non-null  object
 5   storey_range                  919408 non-null  object
 6   floor_area_sqm                919408 non-null  float64
 7   flat_model                    919408 non-null  object
 8   lease_commence_date           919408 non-null  int64
 9   resale_price                  919408 non-null  float64
 10  remaining_lease               210358 non-null  object
 11  address                       919408 non-null  object
 12  latitude                      919408 non-null  float64
 13  longitude                     919408 non-null  float64
 14  nearest_supermarket_distance  919408 non-null  float64
 15  nearest_school_distance       919408 non-null  float64
 16  nearest_mrt_distance          919408 non-null  float64
 17  nearest_hawkers_distance      919408 non-null  float64
 18  cbd_distance                  919408 non-null  float64
dtypes: float64(9), int64(1), object(9)
memory usage: 133.3+ MB

In [32]:
hdb_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,address,latitude,longitude,nearest_supermarket_distance,nearest_school_distance,nearest_mrt_distance,nearest_hawkers_distance,cbd_distance
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,309 ANG MO KIO AVE 1,1.366558,103.841624,0.000000,104.434561,781.530960,0.000000,8765.007560
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,309 ANG MO KIO AVE 1,1.366558,103.841624,0.000000,104.434561,781.530960,0.000000,8765.007560
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,309 ANG MO KIO AVE 1,1.366558,103.841624,0.000000,104.434561,781.530960,0.000000,8765.007560
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,309 ANG MO KIO AVE 1,1.366558,103.841624,0.000000,104.434561,781.530960,0.000000,8765.007560
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,216 ANG MO KIO AVE 1,1.366197,103.841505,42.113407,145.364227,800.632183,42.113407,8727.095898

# Data Cleaning

### remaining lease years calculation

In [33]:
# convert year of sale to int
hdb_df['year_of_sale'] = hdb_df['month'].str[:4].astype('int64')

In [34]:
hdb_df[hdb_df['lease_commence_date'] > hdb_df['year_of_sale']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 23271 to 634577
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   month                         51 non-null     object
 1   town                          51 non-null     object
 2   flat_type                     51 non-null     object
 3   block                         51 non-null     object
 4   street_name                   51 non-null     object
 5   storey_range                  51 non-null     object
 6   floor_area_sqm                51 non-null     float64
 7   flat_model                    51 non-null     object
 8   lease_commence_date           51 non-null     int64
 9   resale_price                  51 non-null     float64
 10  remaining_lease               0 non-null      object
 11  address                       51 non-null     object
 12  latitude                      51 non-null     float64
 13  longitude                     51 non-null     float64
 14  nearest_supermarket_distance  51 non-null     float64
 15  nearest_school_distance       51 non-null     float64
 16  nearest_mrt_distance          51 non-null     float64
 17  nearest_hawkers_distance      51 non-null     float64
 18  cbd_distance                  51 non-null     float64
 19  year_of_sale                  51 non-null     int64
dtypes: float64(9), int64(2), object(9)
memory usage: 8.4+ KB

In [35]:
# drop rows were lease commencement date is later than the year of sale
hdb_df = hdb_df[hdb_df['lease_commence_date'] <= hdb_df['year_of_sale']]

In [36]:
# calculate remaining lease
hdb_df['calculated_remaining_lease'] = 99 - (hdb_df['year_of_sale'] - hdb_df['lease_commence_date'])
hdb_df['calculated_remaining_lease'] = hdb_df['calculated_remaining_lease'].astype(float)

### flat model

In [37]:
hdb_df['flat_model'].unique()

array(['IMPROVED', 'NEW GENERATION', 'MODEL A', 'STANDARD', 'SIMPLIFIED',
       'MODEL A-MAISONETTE', 'APARTMENT', 'MAISONETTE', 'TERRACE',
       '2-ROOM', 'IMPROVED-MAISONETTE', 'MULTI GENERATION',
       'PREMIUM APARTMENT', 'Improved', 'New Generation', 'Model A',
       'Standard', 'Apartment', 'Simplified', 'Model A-Maisonette',
       'Maisonette', 'Multi Generation', 'Adjoined flat',
       'Premium Apartment', 'Terrace', 'Improved-Maisonette',
       'Premium Maisonette', '2-room', 'Model A2', 'DBSS', 'Type S1',
       'Type S2', 'Premium Apartment Loft', '3Gen'], dtype=object)

In [38]:
flat_model_dict = {
    'MODEL A': 'Model A',
    'IMPROVED': 'Improved',
    'NEW GENERATION': 'New Generation',
    'STANDARD': 'Standard',
    'SIMPLIFIED': 'Simplified',
    'MODEL A-MAISONETTE': 'Model A-Maisonette',
    'APARTMENT': 'Apartment',
    'MAISONETTE': 'Maisonette',
    'TERRACE': 'Terrace',
    '2-ROOM': '2-Room',
    '2-room': '2-Room',
    'IMPROVED-MAISONETTE': 'Improved-Maisonette',
    'MULTI GENERATION': 'Multi Generation',
    'PREMIUM APARTMENT': 'Premium Apartment'    
}

In [39]:
hdb_df['flat_model'] = hdb_df['flat_model'].replace(flat_model_dict)

In [40]:
hdb_df['flat_model'].unique()

array(['Improved', 'New Generation', 'Model A', 'Standard', 'Simplified',
       'Model A-Maisonette', 'Apartment', 'Maisonette', 'Terrace',
       '2-Room', 'Improved-Maisonette', 'Multi Generation',
       'Premium Apartment', 'Adjoined flat', 'Premium Maisonette',
       'Model A2', 'DBSS', 'Type S1', 'Type S2', 'Premium Apartment Loft',
       '3Gen'], dtype=object)

### flat_type

In [41]:
hdb_df['flat_type'].unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION', 'MULTI-GENERATION'], dtype=object)

In [42]:
# combine the MULTI-GENERATION and MULTI GENERATION labels into a single category
hdb_df['flat_type'] = hdb_df['flat_type'].replace('MULTI-GENERATION', 'MULTI GENERATION')

In [43]:
hdb_df['flat_type'].unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION'], dtype=object)

### Storey range

In [44]:
hdb_df['storey_range'].unique()

array(['10 TO 12', '04 TO 06', '07 TO 09', '01 TO 03', '13 TO 15',
       '19 TO 21', '16 TO 18', '25 TO 27', '22 TO 24', '28 TO 30',
       '31 TO 33', '40 TO 42', '37 TO 39', '34 TO 36', '06 TO 10',
       '01 TO 05', '11 TO 15', '16 TO 20', '21 TO 25', '26 TO 30',
       '36 TO 40', '31 TO 35', '46 TO 48', '43 TO 45', '49 TO 51'],
      dtype=object)

In [45]:
# get median of storey range
def calculate_median(storey_range):
    ranges = storey_range.split(' TO ')
    float_ranges = [float(value) for value in ranges]
    return int(statistics.median(float_ranges))

hdb_df['storey_median'] = hdb_df['storey_range'].apply(calculate_median)

In [46]:
hdb_df['storey_median'].unique()

array([11,  5,  8,  2, 14, 20, 17, 26, 23, 29, 32, 41, 38, 35,  3, 13, 18,
       28, 33, 47, 44, 50], dtype=int64)

In [19]:
# calculate price per sqm
hdb_df['price_per_sqm'] = hdb_df['resale_price']/hdb_df['floor_area_sqm']

In [20]:
# renaming date columns
hdb_df.rename(columns={'month': 'month_of_sale'}, inplace=True)

In [21]:
# drop remaining_lease column
hdb_df.drop(columns=['remaining_lease'], inplace=True)

In [22]:
# drop duplicate rows
hdb_df = hdb_df.drop_duplicates()

In [23]:
hdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 917393 entries, 0 to 919407
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   month_of_sale                 917393 non-null  object
 1   town                          917393 non-null  object
 2   flat_type                     917393 non-null  object
 3   block                         917393 non-null  object
 4   street_name                   917393 non-null  object
 5   storey_range                  917393 non-null  object
 6   floor_area_sqm                917393 non-null  float64
 7   flat_model                    917393 non-null  object
 8   lease_commence_date           917393 non-null  int64
 9   resale_price                  917393 non-null  float64
 10  address                       917393 non-null  object
 11  latitude                      917393 non-null  float64
 12  longitude                     917393 non-null  float64
 13  nearest_supermarket_distance  917393 non-null  float64
 14  nearest_school_distance       917393 non-null  float64
 15  nearest_mrt_distance          917393 non-null  float64
 16  nearest_hawkers_distance      917393 non-null  float64
 17  cbd_distance                  917393 non-null  float64
 18  year_of_sale                  917393 non-null  int64
 19  calculated_remaining_lease    917393 non-null  float64
 20  storey_median                 917393 non-null  int64
 21  price_per_sqm                 917393 non-null  float64
dtypes: float64(11), int64(3), object(8)
memory usage: 161.0+ MB

In [24]:
hdb_df.to_csv('data/hdb_clean_wo_encoding.csv', index=False)

### Encoding Variables

In [25]:
# Encode categorical columns to numerical

categorical_cols = ['town', 'flat_type', 'flat_model']  
df_encoded = pd.get_dummies(hdb_df, columns=categorical_cols, drop_first=True)

df_encoded.drop(['month_of_sale', 'block', 'street_name', 'storey_range', 'lease_commence_date', 'address',
             'latitude', 'longitude','price_per_sqm'],
            axis=1, inplace=True)

df_encoded = df_encoded.drop_duplicates()

In [26]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 906790 entries, 0 to 919407
Data columns (total 62 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   floor_area_sqm                     906790 non-null  float64
 1   resale_price                       906790 non-null  float64
 2   nearest_supermarket_distance       906790 non-null  float64
 3   nearest_school_distance            906790 non-null  float64
 4   nearest_mrt_distance               906790 non-null  float64
 5   nearest_hawkers_distance           906790 non-null  float64
 6   cbd_distance                       906790 non-null  float64
 7   year_of_sale                       906790 non-null  int64
 8   calculated_remaining_lease         906790 non-null  float64
 9   storey_median                      906790 non-null  int64
 10  town_BEDOK                         906790 non-null  uint8
 11  town_BISHAN                        906790 non-null  uint8
 12  town_BUKIT BATOK                   906790 non-null  uint8
 13  town_BUKIT MERAH                   906790 non-null  uint8
 14  town_BUKIT PANJANG                 906790 non-null  uint8
 15  town_BUKIT TIMAH                   906790 non-null  uint8
 16  town_CENTRAL AREA                  906790 non-null  uint8
 17  town_CHOA CHU KANG                 906790 non-null  uint8
 18  town_CLEMENTI                      906790 non-null  uint8
 19  town_GEYLANG                       906790 non-null  uint8
 20  town_HOUGANG                       906790 non-null  uint8
 21  town_JURONG EAST                   906790 non-null  uint8
 22  town_JURONG WEST                   906790 non-null  uint8
 23  town_KALLANG/WHAMPOA               906790 non-null  uint8
 24  town_LIM CHU KANG                  906790 non-null  uint8
 25  town_MARINE PARADE                 906790 non-null  uint8
 26  town_PASIR RIS                     906790 non-null  uint8
 27  town_PUNGGOL                       906790 non-null  uint8
 28  town_QUEENSTOWN                    906790 non-null  uint8
 29  town_SEMBAWANG                     906790 non-null  uint8
 30  town_SENGKANG                      906790 non-null  uint8
 31  town_SERANGOON                     906790 non-null  uint8
 32  town_TAMPINES                      906790 non-null  uint8
 33  town_TOA PAYOH                     906790 non-null  uint8
 34  town_WOODLANDS                     906790 non-null  uint8
 35  town_YISHUN                        906790 non-null  uint8
 36  flat_type_2 ROOM                   906790 non-null  uint8
 37  flat_type_3 ROOM                   906790 non-null  uint8
 38  flat_type_4 ROOM                   906790 non-null  uint8
 39  flat_type_5 ROOM                   906790 non-null  uint8
 40  flat_type_EXECUTIVE                906790 non-null  uint8
 41  flat_type_MULTI GENERATION         906790 non-null  uint8
 42  flat_model_3Gen                    906790 non-null  uint8
 43  flat_model_Adjoined flat           906790 non-null  uint8
 44  flat_model_Apartment               906790 non-null  uint8
 45  flat_model_DBSS                    906790 non-null  uint8
 46  flat_model_Improved                906790 non-null  uint8
 47  flat_model_Improved-Maisonette     906790 non-null  uint8
 48  flat_model_Maisonette              906790 non-null  uint8
 49  flat_model_Model A                 906790 non-null  uint8
 50  flat_model_Model A-Maisonette      906790 non-null  uint8
 51  flat_model_Model A2                906790 non-null  uint8
 52  flat_model_Multi Generation        906790 non-null  uint8
 53  flat_model_New Generation          906790 non-null  uint8
 54  flat_model_Premium Apartment       906790 non-null  uint8
 55  flat_model_Premium Apartment Loft  906790 non-null  uint8
 56  flat_model_Premium Maisonette      906790 non-null  uint8
 57  flat_model_Simplified              906790 non-null  uint8
 58  flat_model_Standard                906790 non-null  uint8
 59  flat_model_Terrace                 906790 non-null  uint8
 60  flat_model_Type S1                 906790 non-null  uint8
 61  flat_model_Type S2                 906790 non-null  uint8
dtypes: float64(8), int64(2), uint8(52)
memory usage: 121.1 MB

In [27]:
df_encoded.to_csv('data/hdb_combined_clean.csv', index=False)